@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Public Sans', sans-serif;

    --color-green-50: #EFFDF5;
    --color-green-100: #D9FBE8;
    --color-green-200: #B3F5D1;
    --color-green-300: #75EDAE;
    --color-green-400: #00DC82;
    --color-green-500: #00C16A;
    --color-green-600: #00A155;
    --color-green-700: #007F45;
    --color-green-800: #016538;
    --color-green-900: #0A5331;
    --color-green-950: #052E16;
}

@layer base {
    button,
    [role="button"] {
        @apply cursor-pointer;
        @apply disabled:cursor-not-allowed;
    }
}

html, body {
    overscroll-behavior-x: none;
}

/* custom tw classes to move, probably */
.text-xxs {
    font-size: 0.625rem;
    line-height: calc(1 / 0.625);
}

/*TRANSITIONS*/
.fade-up-move,
.fade-up-enter-active,
.fade-up-leave-active,
.fade-down-enter-active,
.fade-down-leave-active {
    transition: all 0.5s ease;
}

.fade-up-enter-from,
.fade-up-leave-to
{
    opacity: 0;
    /*transform: translateY(-30px);*/
}

.fade-down-enter-from,
.fade-down-leave-to
{
    opacity: 0;
    /*transform: translateY(30px);*/
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.fade-up-leave-active, .fade-down-leave-active {
    display: none;
}
